*{
    background-color: aqua;
    margin: 0;
    padding: 0;
}

.gameArea {
    margin: 20px;
    display: flex;
    gap: 50px;
}

.battlefield {
    min-height: 340px;
    min-width: 340px;
    border-collapse: collapse;
    position: relative;
}

.battlefieldCell {
    border: 1px solid black;
    width: 2em;
    height: 2em;
}

.battlefieldCell:hover {
    border: 2px solid orange;
    
}

.ship {
    background-color: darkblue;
    border: 1px solid rgb(73, 0, 0);
    width: 2em;
    height: 2em;
}
