*{
    background-color: rgb(45, 49, 49);
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(187, 187, 187);
}

.container {
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameArea {
    margin: 20px;
    display: flex;
    gap: 50px;
}

.battlefield {
    min-height: 340px;
    min-width: 340px;
    border-collapse: collapse;
    position: relative;
}

.battlefieldCell {
    border: 1px solid black;
    width: 2em;
    height: 2em;
}

.enemySide > * > * > .battlefieldCell > .ship {
    visibility: hidden;
}

.enemySide > * > * > .battlefieldCell:hover {
    border: 2px solid orange;
    
}

.ship {
    background-color: darkblue;
    border: 1px solid rgb(128, 128, 128);
    width: 2em;
    height: 2em;
}

.highlight{
    border: 1px solid white;
}

.hitSpot {
    pointer-events: none;
    background-color: rgb(25, 109, 0);;
}

.missedSpot {
    pointer-events: none;
    background-color: rgb(114, 0, 0);
}

button {
    font-size: 20px;
    font-weight: 600;
    color: rgb(138, 138, 138);
    height: 40px;
    width: 160px;
}

button:hover {
    color: white;
}